SNCF_API_TOKEN=
IDFM_PRIM_API_KEY=
NEXT_PUBLIC_DEFAULT_CITY=Paris
NEXT_PUBLIC_DEFAULT_STATION=Gare Montparnasse
NEXT_PUBLIC_TICKER_DEFAULT=Bienvenue a la Gare Montparnasse. Informations en temps reel mises a jour chaque minute.
NEXT_PUBLIC_DEFAULT_BRAND_TITLE=LiveBoard Paris
